@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pathway+Gothic+One&display=swap');
/* font-family: 'Pathway Gothic One', sans-serif; */
/* font-family: 'Archivo Black', sans-serif; */
:root {
    --body-font: 'Pathway Gothic One', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    --z-fixed: 100;
}

/* BASE */

*,::before,::after {
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 2.5rem;
    margin: var(--header-height) 0 0 0;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    /* background-color: yellow; */
    color: var(--couleur-texte);
    line-height: 1.6;
}

h1,h2,h3,p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

/* CLASS CSS */

#moilogo {
    font-family: 'Archivo Black', sans-serif;
}

.reseausocial {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--couleur-de-fond);
    margin: var(--mb-3) 0;
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* LAYOUT */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.lien {
    text-transform: uppercase;
    font-size: 0.9rem;
    /* color: var(--couleur-texte); */
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

#email {
    text-transform: lowercase;
    align-self: right;
}

/* accueil */

#accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(360deg, rgba(1,11,28,1) 2%, rgba(14,39,89,1) 90%, rgba(28,69,125,1) 100%);

}

#img-moi {
    border-radius: 55%;
    width: 9rem;
    height: 8.9rem;
}

.reseau-social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4.5rem;
}

.logo-reseau {
    width: 3.5rem;
    height: 3.5rem;
}

#cv {
    color: rgba(1,11,28,1);
}

.home {
    position: relative;
    background-color: #000000;
  }

.home::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("..assets/images/amalfitana.jpg");
    background-size: cover;
    background-position: top-center;
    opacity: 0.15;
}

.home__container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home__img {
    /* padding-bottom: 1.3rem; */
    padding-left: .2rem;
    width: 200px;
    height: 200px;
    background-color: var(--couleur-de-fond);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__img img {
    width: 155px;
}

.home__title {
    font-size: var(--h1-font-size);
    color: var(--couleur-de-fond);
    font-weight: var(--font-semi-bold);
}

.home__profession {
    font-size: var(--small-font-size);
    color: var(--couleur-de-fond-foncee);
    margin-bottom: var(--mb-5);
}

.where {
    background-color: red;
}

.home__social {
    margin-bottom: 5rem;
    z-index: 1;
}

.home__social-link {
    display: inline-flex;
    font-size: 0.9rem;
    border-radius: 50%;
    padding: .70rem;
    margin: var(--mb-2);
    transition: .3s;
}

.home__social-link:hover {
    background-color: #2B2B2B;
}

.resume {
    z-index: 1;
}

.home__button {
    width: 100%;
}

/* buttons */
.button {
    display: inline-block;
    background-color: var(--couleur-de-fond);
    color: var(--first-color-ligthen);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--couleur-de-fond-foncee);
}

.button__light {
    background-color: var(--first-color-ligthen);
    color: var(--couleur-de-fond);
}

.button__light:hover {
    color: var(--first-color-darken);
}

/* about */

.about {
    background-color: yellow;
}

.section-about-me {
    color: #373D3F;
}

.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center; 
}

.about__description {
    margin-bottom: var(--mb-4);
    font-size: 2rem;
}

.about__badge {
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px #0E2433;
}

#moi2 {
    width: 7rem;
    height: 7rem;
    border-radius: 4px;
    margin-right: 8px;
}

.about__information {
    margin-bottom: var(--mb-4);
}

.about__information-title {
    font-size: var(--h3-font-size);
    color: var(--couleur-de-fond-foncee);
    margin-bottom: var(--mb-2);
}

.about__information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about__information-icon {
    font-size: 1.5rem;
    color: #0E2433;
    margin-right: var(--mb-4);
}

.about__information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about__information-subtitle-small {
    font-size: var(--small-font-size);
}

/* skills */

#hard-skills {
    position: relative;
    background-color: #000000;
  }

#hard-skills::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../assets/images/hard-skills.jpg");
    background-size: cover;
    background-position: top-center;
    opacity: 0.15;
}

.brique-ligne {
    margin: 5px 0;
}

.brique {
    background-color: #cb4154;
    border-radius: 3px;
    width: 3rem;
    padding: 4px;
    margin: 0 3px;
    text-align: center;
    font-size: 1.5rem;
}

brique-top {
    width: 2rem;
}

.logo-skills {
    width: 3rem;
    height: 3rem;
}

#soft-skills {
    position: relative;
    background-color: #111905;
  }

#soft-skills::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../assets/images/soft_skills.jpg");
    background-size: cover;
    background-position: top-center;
    opacity: 0.25;
}

/* moving-softskills */
.skills__content {
    position: relative;
    width: 50%;
}

.softskills_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.movingicon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: auto;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 8px;
    border-radius: 50%;
    /* position: absolute; */
    -webkit-animation: movingicons 3s linear infinite;
       -moz-animation: movingicons 3s linear infinite;
         -o-animation: movingicons 3s linear infinite;
            animation: movingicons 3s linear infinite;
    transition: border-radius 1s;
}

.movingicon:hover {
    border-radius: 5px;
}

@-webkit-keyframes movingicons {
    from { -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@-moz-keyframes movingicons {
    from { -moz-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@-o-keyframes movingicons {
    from { -o-transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes movingicons {
    from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.skills__container {
    row-gap: 2rem;
}

.skills__subtitle {
    font-size: var(--h3-font-size);
    color: whitesmoke;
    margin-bottom: var(--mb-2);
}

.skills__data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}

.skills__name {
    /* text-transform: uppercase; */
    display: flex;
    color: white;
}

.skills__bar {
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--couleur-de-fond);
}

.skills__html {
    width: 80%;
}

.skills__js {
    width: 90%;
}

.skills__react {
    width: 70%;
}

.skills__angular {
    width: 60%;
}

.skills__php {
    width: 80%;
}

.skills__node {
    width: 70%;
}

.skills__c {
    width: 30%;
}

.skills__python {
    width: 40%;
}

/* education */

.education {
    background: linear-gradient(360deg, rgba(244,119,6,1) 2%, rgba(249,181,50,1) 42%, rgba(251,229,9,1) 100%);
}

.education__container {
    row-gap: 0;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    margin-bottom: -0.5rem;
}

.education__year, .education__race {
    font-size: var(--h3-font-size);
    margin-bottom: .3rem;
    
}

.education__university, .education__specialty {
    display: block;
    font-size: var(--smaller-font-size);
}

.education__year, .education__university {
    text-align: right;
}

.education__time {
    padding: 0 1rem;
    justify-self: center;
}

.education__rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #0E2433;
    border-radius: 50%;
}

.education__rounder::before {
    content: '';
    position: absolute;
    transform: translate(-4px,-4px);
    width: 20px;
    height: 20px;
    border: 1px solid #0E2433;
    border-radius: 50%;
}

.education__line {
    display: block;
    height: 3rem;
    width: 2px;
    background-color: #0E2433;
    transform: translate(5px,-4px);
}

/* services */

.services__container {
    row-gap: 2rem;
}

.services__content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--couleur-de-fond);
    border-radius: .5rem;
    text-align: center;
}

.services__icon {
    font-size: 1.2rem;
    padding: .5rem;
    background-color: var(--couleur-de-fond);
    color: var(--first-color-ligthen);
    border-radius: 50%;
    margin-bottom: var(--mb-4);
}

.services__title {
    font-size: 1.25rem;
    color: var(--couleur-de-fond-foncee);
    margin: var(--mb-3) 0;
}

.services__content, .services__icon, .services__description, .services__title {
    transition: .5s;
}

.services__content {
    transition: .5s;
}

.services__content:hover {
    /* background-color: black; */
    background-color: var(--couleur-de-fond);
}

.services__content:hover .services__icon {
    background-color: var(--first-color-ligthen);
    color: var(--couleur-de-fond);
}

.services__content:hover .services__title {
    color: var(--first-color-ligthen);
}

/* project in mind */

.project {
    background-color: #48494B;
    /* background-color: var(--couleur-de-fond); */
    padding-bottom: 0;
}

.project__container {
    row-gap: 2rem;
}

.project__data {
    text-align: center;
}

.project__title, .project__description {
    color: var(--first-color-ligthen);
}

.project__description {
    margin-bottom: var(--mb-4);
}

.project__img {
    width: 220px;
    justify-self: center;
    margin-bottom: var(--mb-4);
}

.works__container {
    justify-items: center;
    row-gap: 2rem;
    width: 5rem;
}

.works__img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
}

.works__prt {
    width: 30rem;
}

.works__data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(204, 75, 104, .7);
    border-radius: .5rem;
    transition: .3s;
}

.works__link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-ligthen);
    color: var(--couleur-de-fond);
    padding: 0.25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.works__title {
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}

.works__img:hover .works__data {
    bottom: 0;
}

/* contact */

.contact__container {
    row-gap: 3rem;
}

.contact__input {
    width: 100%;
    padding: 1rem;
    outline: none;
    background-color: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact ::placeholder {
    color: var(--couleur-de-fond-foncee);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact__button {
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.contact__info {
    margin-bottom: var(--mb-3);
}

.contact__subtitle {
    font-size: var(--h3-font-size);
    color: var(--couleur-de-fond-foncee);
    margin-bottom: var(--mb-1);
}

.contact__text {
    display: block;
    padding-left: 1rem;
}

/* footer */

.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-ligthen);
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer__description {
    margin-bottom: var(--mb-2);
}

.footer__social {
    margin-bottom: 3rem;
}

.footer__link {
    display: inline-flex;
    /* background-color: var(--couleur-de-fond); */
    color: var(--first-color-ligthen);
    font-size: 0.95rem;
    border-radius: 50%;
    padding: .60rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover {
    background-color: var(--first-color-ligthen);
    color: var(--couleur-de-fond);
}

.footer__copy {
    font-size: var(--smaller-font-size);
    color: var(--couleur-texte);
}

/* media-queries */

@media screen and (min-width: 768px) {
    :root {
    /* --body-font: 'Pathway Gothic One', sans-serif; */
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;   
    }
    .home__button {
        width: initial;
    }

    .nav__menu {
        width: var(--nav-width);
    }

    .about__container,
    .skills__container,
    .services__container,
    .works__container,
    .contact__container,
    .contact__inputs {
        grid-template-columns: repeat(2,1fr);
    }

    .about__data {
        text-align: initial;
    }

    .about__description {
        margin-bottom: var(--mb-5);
        color: #0E2433;
    }
    .about__img {
        width: 220px;
    }
    .about__information {
        padding-left: 4rem;
    }

    .education__time { 
        padding: 0 2rem;
    }
    .project {
        background: none;
    }
    .project__container {
        background-color: var(--couleur-de-fond);
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
    }
    .project__data {
        padding: 3rem 0;
    }
    .project__title, .project__data {
        text-align: initial;
    }
    .project__img {
        width: 230px;
        align-self: flex-end;
    }
    .contact_inputs {
        display: grid;
        column-gap: 1.5rem;
    }
    .contact_info {
        padding-left: 3rem;
    }
    .footer {
        background: none;
    }
    .footer__container {
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding-left: var(--nav-width);
    }
    .l-header {
        width: 0;
    }
    .nav__toggle, .nav__logo, .nav__close {
        display: none;
    }
    .nav__menu {
        left: 0;
    }
    .home__container {
        height: 100vh;
    }
    .section {
        padding: 3rem 0 2rem;
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .services__container,
    .works__container {
        grid-template-columns: repeat(3,1fr);
    }
    .works__data {
        width: 85%;
    }
}

/* CAROUSEL */
/* <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" */
   /* "http://www.w3.org/TR/html4/loose.dtd"> */

    body {
      background-color: black;
      /* color: white; */
      font-family: 'Lucida Grande', Verdana, Arial;
      font-size: 12px;
      background-image: -webkit-gradient(radial,
                            50% 500, 1,
                            50% 500, 400,
                            from(rgba(255, 255, 255, 0.3)),
                            to(rgba(255, 255, 255, 0)));
     background-repeat: no-repeat;
    }

    #container {
      width: 100%;
      height: 700px;
      -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
      perspective: 800;
      -webkit-perspective-origin: 50% 225px;
      perspective-origin: 50% 225px;
    }
    #stage {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 2s;
      transition: transform 2s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    #shape {
      position: relative;
      top: 160px;
      margin: 0 auto;
      height: 200px;
      width: 200px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    
    .plane {
      position: absolute;
      height: 200px;
      width: 200px;
      border: 1px solid white;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-backface-visibility: hidden;
      transition: transform 2s, opacity 2s;
      backface-visibility: hidden;
    }

    #shape.backfaces .plane {
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
    }
    
    #shape {
      -webkit-animation: spin 12s infinite linear;
      animation: spin 12s infinite linear;
    }

    @keyframes spin {
        from { -webkit-transform: rotateY(0); }
        to   { -webkit-transform: rotateY(-360deg); }  
    }

    @-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(-360deg); }
    }

    /* ---------- cube styles ------------- */
    .cube > .one {
    background-image: url("../images/livre-or.png");
    background-size: contain;
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
    transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
    }

    .cube > .two {
      opacity: 0.5;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
      transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
    }

    .cube > .three {
      opacity: 0.5;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
      transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
    }

    .cube > .four {
      opacity: 0.5;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
      transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
    }

    .cube > .five {
      opacity: 0.5;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
      transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
    }

    .cube > .five img {
        width: 100%;
        height: 100%;
    }

    .cube > .six {
      opacity: 0.5;
      -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
      transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
    }

    /* ---------- ring styles ------------- */
    .ring > .one {
    background-image: url("../images/livre-or.png");
    background-size: contain;
    -webkit-transform: translateZ(380px);
    transform: translateZ(380px);
    }

    .ring > .two {
      -webkit-transform: rotateY(30deg) translateZ(380px);
      transform: rotateY(30deg) translateZ(380px);
    }

    .ring > .three {
      -webkit-transform: rotateY(60deg) translateZ(380px);
      transform: rotateY(60deg) translateZ(380px);
    }

    .ring > .four {
      -webkit-transform: rotateY(90deg) translateZ(380px);
      transform: rotateY(90deg) translateZ(380px);
    }

    .ring > .five {
      -webkit-transform: rotateY(120deg) translateZ(380px);
      transform: rotateY(120deg) translateZ(380px);
    }

    .rig > .five img {
        width: 100%;
        height: 100%;
    }

    .ring > .six {
      -webkit-transform: rotateY(150deg) translateZ(380px);
      transform: rotateY(150deg) translateZ(380px);
    }

    .controls {
      width: 80%;
      margin: 0 auto;
      padding: 5px 20px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .controls > div {
      margin: 10px;
    }